<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Strona główna</h2>
        <p>Twój lider w zakresie ewidencji logistyki magazynowej</p>
    </main>
    <%- include('./fragments/footer.ejs') %>